<div style="margin:0px;padding:0px;" align="center">
  <h3>前半ホール</h3>
  <table width="500px" style="border-collapse: collapse;border:4px groove #000000;background-color:#FFFFFF;color:#000000;text-align:left;">
    <tbody>
      <tr>
        <td style="border:4px groove #000000;text-align:center;">1H</td>
        <td style="border:4px groove #000000;text-align:center;">2H</td>
        <td style="border:4px groove #000000;text-align:center;">3H</td>
        <td style="border:4px groove #000000;text-align:center;">4H</td>
        <td style="border:4px groove #000000;text-align:center;">5H</td>
        <td style="border:4px groove #000000;text-align:center;">6H</td>
        <td style="border:4px groove #000000;text-align:center;">7H</td>
        <td style="border:4px groove #000000;text-align:center;">8H</td>
        <td style="border:4px groove #000000;text-align:center;">9H</td>
      </tr>
    <%= form_with url: scores_latter_half_path, model: @score, local: true do |f| %>
      <tr>
        <td style="border:4px groove #000000;text-align:center;"><%= f.text_field :hole1,:size=>"1", style: "border: none"%></td>
        <td style="border:4px groove #000000;text-align:center;"><%= f.text_field :hole2,:size=>"1", style: "border: none"%></td>
        <td style="border:4px groove #000000;text-align:center;"><%= f.text_field :hole3,:size=>"1", style: "border: none"%></td>
        <td style="border:4px groove #000000;text-align:center;"><%= f.text_field :hole4,:size=>"1", style: "border: none"%></td>
        <td style="border:4px groove #000000;text-align:center;"><%= f.text_field :hole5,:size=>"1", style: "border: none"%></td>
        <td style="border:4px groove #000000;text-align:center;"><%= f.text_field :hole6,:size=>"1", style: "border: none"%></td>
        <td style="border:4px groove #000000;text-align:center;"><%= f.text_field :hole7,:size=>"1", style: "border: none"%></td>
        <td style="border:4px groove #000000;text-align:center;"><%= f.text_field :hole8,:size=>"1", style: "border: none"%></td>
        <td style="border:4px groove #000000;text-align:center;"><%= f.text_field :hole9,:size=>"1", style: "border: none"%></td>
    　</tr>
    　<%= f.submit '後半戦！！',class: "btn btn-primary" %>
    <% end %>
    </tbody>
  </table>
</div>