<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "つ") %> の項目が空白です。</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field my-5">
    <div><%= f.label :name %></div>
    <%= f.text_field :name %>
  </div>

  <div class="field my-5">
    <div><%= f.label :email %></div>
    <%= f.text_field :email %>
  </div>

  <div class="field my-5">
    <div><%= f.label :introduction %></div>
    <%= f.text_area :introduction %>
  </div>

  <div class="actions my-5">
    <%= f.submit "編集完了",class:"btn btn-primary" %>
  </div>
<% end %>
