<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="text-right">
      <% if flash[:success] %>
        <p><%= flash[:success] %></p>
      <% end %>
      </div>
      <h1 class="text-center mt-5 text-light">質問投稿</h1>
      <%= form_with model:@messerge, local:true do |f| %>
        <h4 class="text-center mt-5"></h4>
        <div class="text-center mt-5">
          <h4 class="text-light">内容</h4>
          <%= f.text_area :comment %>
          <h4 class="text-light">画像</h4>
          <%= f.attachment_field :image %>
          <h4 class="text-light">動画</h4>
          <%= f.file_field :video, :accept => 'video/*' %>
          <div><%= f.submit '投稿', class:"btn btn-primary"%></div>
        </div>
      <% end %>
    </div>

    <div class="col-lg-8">
      <div class="mt-5 text-center mx-5">
        <div class="text-light mt-5 text-center">
          <% @messerges.each do |messerge| %>
            <div class="my-5">
              <h4><%= messerge.user.name %>
                <% if not current_user == messerge.user %>
              　　　　<% if current_user.following?(messerge.user.id) %>
                     <%= link_to 'フォロー外す', unfollow_path(messerge.user.id), method: :POST, class:"btn btn-primary"  %>
                   <% else %>
                     <%= link_to 'フォローする', follow_path(messerge.user.id), method: :POST, class:"btn btn-primary"  %>
                   <% end %>
                <% end %>
                   <%= link_to "コメント" ,messerge_path(messerge), class:"btn btn-success"%>
              </h4>
              <div class="text-break"><%= messerge.comment %></div>
              <% if not messerge.image.present? %>
                <p><%= attachment_image_tag messerge, :image, size: "100x100", format: 'jpeg'%></p>
                <div><%= link_to messerge.video_url.to_s do %>
                       <%= video_tag(messerge.video.to_s, size: "500x300")%> 
                     <% end %>
                </div>
              <% end %>
              <% if current_user == messerge.user %>
                <%= button_to '削除', messerge_path(messerge), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
              <% end %>
              <div id="likes_buttons<%= messerge.id %>"><%= render partial: 'likes/like', locals: { messerge: messerge} %></div>
            </div>
          <% end %>
          <%= paginate @messerges %>
        </div>
      </div>
    </div>
  </div>
</div>


