<h1 class="text-center text-light mt-5">ログイン</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field text-center mt-5">
    <%= f.label :name, class:"text-light" %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field text-center mt-5">
    <%= f.label :email, class:"text-light" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field text-center mt-5">
    <%= f.label :password, class:"text-light" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field text-center text-light mt-5">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  <div class="text-center">
    <%= f.submit "サインイン", class:"btn btn-primary btn-block mx-auto w-auto" %>
  </div>
  <div class="text-center">
    <%= render "devise/shared/links" %>
  </div>

<% end %>

  